<%- include("partials/header"); -%>
    <form action="/" method="post">
        <div class="form-group">
            <label>Pokemon name</label>
            <textarea class="form-control" name="pokemon" rows="1" cols="10"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Search</button>
    </form>
<%- include("partials/footer"); -%>