<%- include("partials/header"); -%>
    <div class="container">
        <% pokemonarr.forEach(pokemon=>{ %>
            <div>
                <img src="<%= pokemon.image.UrlMaleOrUndefined %>" alt="">
                <div style="margin: auto; text-align: center;" class="name"><%= pokemon.name %></div>
            </div>
        <%})%>
    </div>
<%- include("partials/footer"); -%>